<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <app-input label="Name" [control]="$any(cardForm).get('name')"></app-input>
    <app-input label="Card Number" [control]="$any(cardForm).get('cardNumber')"></app-input>
    <div class="columns">
        <div class="column">
            <app-input label="Expiration" [control]="$any(cardForm).get('expiration')"></app-input>
        </div>
        <div class="column">
            <app-input label="Security Code" [control]="$any(cardForm).get('securityCode')"></app-input>
        </div>
        
        
    </div>
    <div class="buttons">
        <button [disabled]="cardForm.invalid" class="button is-primary" type="submit">Submit</button>
        <button class="button is-warning" type="button" (click)="onResetClick()">Reset</button>
    </div>
    
</form>
