<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">
    <app-input label="Name" [control]="$any(cardForm).get('name')"></app-input>
    <app-input label="Card Number" [control]="$any(cardForm).get('cardNumber')"></app-input>
    <app-input label="Expiration" [control]="$any(cardForm).get('expiration')"></app-input>
    <app-input label="Security Code" [control]="$any(cardForm).get('securityCode')"></app-input>
    <button [disabled]="cardForm.invalid" class="button is-primary" type="submit">Submit</button>
</form>

<div>Form Contents: {{ cardForm.value | json }}</div>
<div>Form is valid: {{ cardForm.valid }}</div>
<div>Errors around name: {{ cardForm.controls['name'].errors | json}}</div>